@import '../../styles/mixin';
@import '../../styles/variables.scss';

.main{
  background-color: $main-bg;
  color: $main-text;
}

.container{
  @include flex($align:start);
}      
.menu-container{
  width: 14rem;
  @include border($dir:right);
}
.content-container{
  width: 100%;
  @include border(top);
}