@model IEnumerable<Recipe>

<div class="pt-3">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mb-3">
        <i class="bi bi-arrow-left"></i>
        Back
    </a>
    <div class="mb-3 d-flex flex-wrap justify-content-center gap-2 justify-content-md-between">
        <span class="text-dark text-decoration-underline fs-3 text-capitalize fw-bold">@ViewData["Title"]</span>
    </div>
    
    @if (Model.Count()>0)
    {  
        <div id="recipe-container" class="d-flex flex-column gap-5">
            <partial name="_DisplayProductPartial" model="Model" />
        </div>

        <div class="mt-5 text-center">
            <button type="button" class="btn btn-primary" id="loadMore">Load More</button>
        </div>
    }
</div>


@section Scripts{
    <script>

        var page = 2;
        var title = '@ViewData["Title"]';

        $('#loadMore').click(function () {
            $.ajax({
                type: 'GET',
                url: '/recipe/onLoadMore',
                data: {
                    searchString: title,
                    page: page
                },
                success: function (result) {
                    if(result.length>2){
                        $('#recipe-container').append(result);
                        page++;
                    }
                    else{
                        $('#loadMore').attr('class', 'visually-hidden');
                        $('#recipe-container').append("<p class='text-danger fs-5 fw-bold text-center'>No More Data....</p>");
                    }

                }
            })
        });
    </script>
}