@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

.wrapper{
  padding: 0.6rem 1.3rem;
}

.icon{
  color: $icon;
  font-size: 1.4rem;
  cursor: pointer;
}