@import '../../styles/mixin';
@import '../../styles/variables.scss';

.menu{
  @include flex($dir:column, $justify:center, $align:start, $gap:1.8rem);
  padding: 1rem 0 1rem 1.3rem;

  .navlink{
    width: 100%;

    .menu-item{
      @include flex($gap:1rem);
      width: 100%;
      font-size: 1.2rem;
      font-weight: normal;
      padding: 1rem 0.7rem;
      cursor: pointer;
      transition: background-color 0.2s;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
  
      &:hover{
        background-color: $dark-bg;
      }
  
      .menu-icon{
        color: $soft-text;
      }
    }
  }
}

.menuActive{
  background-color: $dark-bg;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}