@inject SignInManager<AppUser> signInManager;
@inject UserManager<AppUser> userManager;


@if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User);
    var profilepicName = user!.Image;
    var profilePicPath = "/images/" + profilepicName;
    var name = user.FullName;
    var userId = user.Id;

    <div class="nav-item dropdown">
        <div style="position:relative;display:inline-block;" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="image" src="@profilePicPath" asp-append-version="true" alt="profile pic" />
            <span class="text-white d-flex justify-content-center align-items-center" style="position:absolute;bottom:-20%;right:25%;height:1.2rem;width:1.2rem;border-radius:50%;background-color:gray;">
                <i class="bi bi-chevron-down" style="font-size:1rem;"></i>
            </span>
        </div>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li>
                <a class="dropdown-item text-capitalize w-100 text-center" asp-Controller="User" asp-action="Profile" asp-route-id="@userId">
                    <img class="image" src="@profilePicPath" asp-append-version="true" alt="profile pic" />
                    @name
                </a>
            </li>
            <li>
                <a class="dropdown-item w-100 text-center" asp-Controller="Recipe" asp-action="Create">Create Recipe</a>
            </li>
            <li><form method="post" asp-controller="Account" asp-action="Logout" class="dropdown-item" href="#">
                    <button type="submit" class="w-100">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white text-end" asp-area="" asp-controller="Account" asp-action="Login">
            <i class="bi bi-person-circle pe-1"></i>
            Login
        </a>
    </li>
}